{% extends "base.html" %}
{% block content %}

<form action="login" method="post">
    {% csrf_token %}
    <label for="username">Your login: </label>
    <br>
    <input id="username" type="text" name="username" value="">
    <br>
    <label for="password">Your password: </label>
    <br>
    <input id="password" type="password" name="password" value="">
    <br>
    <input type="submit" value="OK">
</form>

<script>
new Vue({
    el: '#app',
    data: {
        
    },
    methods: {
    })
</script>
{% endblock content %}