{% extends "base.html" %}
{% block content %}

<form action="registration" method="post">
    {% csrf_token %}
    <label for="email">Your email: </label>
    <input id="email" type="text" name="email" value="{{ current_name }}@{{ current_name }}.{{ current_name }}"><br>
    <label for="last_name">Your last_name: </label>
    <label for="first_name">Your first_name: </label>
    <input id="first_name" type="text" name="first_name" value="{{ current_name }}"><br>
    <label for="last_name">Your last_name: </label>
    <input id="last_name" type="text" name="last_name" value="{{ current_name }}"><br>
    <label for="username">Your username: </label>
    <input id="username" type="text" name="username" value="{{ current_name }}"><br>
    <label for="password">Your password: </label>
    <input id="password" type="password" name="password" value="{{ current_password }}">
    <input type="submit" value="OK">
</form>
<a href="login">Log In</a>

<script>
new Vue({
    el: '#app',
    data: {
        
    },
    methods: {
    }))
</script>
{% endblock content %}